@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,700,300);

* { -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; *behavior:url(boxsizing.htc); }
html, body { 
	margin:0;
	padding:0;background:#000;
	line-height:1;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
h1, h2, .nav-link {
	font-family:'Open Sans', sans-serif; 
	font-weight:700; 
}

h1 {font-size:48px; }
h1, h2, h3, p { margin:0 0 10px; color:#fff; text-shadow: 1px 1px 1px #000;}
h2 {
	margin: 0;
	margin-bottom: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
	border-top: 2px solid #333;
	border-bottom: 2px solid #333;
}
h3 {
	margin: 0;
	margin-bottom: 25px;
}
p { 
	line-height:1.4;  
	font-size: 16px;
}
a { color:#fff; font-style:italic; }
blockquote { 
	background:#fff; 
	margin:0 0 20px;
	padding:5px 20px; 
}
pre {
	white-space:pre-wrap;       /* css-3 */
	white-space:-moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space:-pre-wrap;      /* Opera 4-6 */
	white-space:-o-pre-wrap;    /* Opera 7 */
	word-wrap:break-word;       /* Internet Explorer 5.5+ */
}

.container {
	width: 100%;
	max-width: 1000px; 
	padding: 15px;
	margin:auto;
}

.logo {
	width: 100%;
	max-width: 300px;
	display: block;
	margin:auto;
	margin-bottom: 30px;
}
.homeButton img {
	width:100%;
	max-width: 150px;
}
.box { 
	background:#444; background:rgba(0,0,0,.6);
	padding:20px;
	border-radius:0;
	margin-bottom:20px;
}
.nav { 
	position:fixed; 
	top:0px;left:50px;
	z-index: 999;
	overflow: hidden;
	width:300px; 
	-webkit-transition-duration:0.6s;-moz-transition-duration:0.6s;-ms-transition-duration:0.6s;-o-transition-duration:0.6s;transition-duration:0.6s;
}

.nav::-webkit-scrollbar, .video-list::-webkit-scrollbar, .main::-webkit-scrollbar, #overview::-webkit-scrollbar { 
    display: none; 
}
.credit {
	margin:20px 0;
}
.download-links { margin-top:20px; }
.download { margin-left:10px; padding:5px 10px; color:#fff; background:#111; border-radius:5px; display: inline; }

.playLabel {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 24px;
	color: #fff;
	padding-bottom: 5px;
	padding-top: 5px;
	border-top: 2px solid #333;
	border-bottom: 2px solid #333;
}

.main {
	position:fixed;
	left: 450px;
	top: 0;
	margin:0;
	width: 60%;
	min-width:300px;
	overflow: hidden;
    
	-webkit-transition-duration:0.6s;-moz-transition-duration:0.6s;-ms-transition-duration:0.6s;-o-transition-duration:0.6s;transition-duration:0.6s;
}

#overview {
	overflow-x: hidden;
	overflow-y: scroll;
}

.main form {
	padding: 15px;
	padding-bottom: 25px;
	max-width: 800px;
	margin:auto;
	margin-top:30px;
	background:#000;
}

form .form-control {
	margin-bottom: 25px;
}
.nav-link {
	display:block;
	padding-bottom:10px;
	text-decoration:none;
	font-style:normal;
}

.circle {
	border-radius: 50%;
	border:4px solid #fff;
	background-color: #d62e3a;
	width: 100px;
	height: 100px;
}

.submitButton {
	background-image: url('../img/FlagsIcon.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 90%;

	-webkit-transition-duration:0.6s;-moz-transition-duration:0.6s;-ms-transition-duration:0.6s;-o-transition-duration:0.6s;transition-duration:0.6s;
}

.submitButton:hover {
	background-color: transparent;

	-webkit-transition-duration:0.6s;-moz-transition-duration:0.6s;-ms-transition-duration:0.6s;-o-transition-duration:0.6s;transition-duration:0.6s;
}

input.submitButton {
	display:inline-block;
	margin:auto;
}

.center {
	text-align: center;
}

.toggle-btn {
	position: absolute;
	bottom: -50px;
	left: 5px;
	background:rgba(0,0,0,.8);
	padding: 6px 12px;
	border-radius: 10px;
	color: #fff;
	font-size: .8em;
	font-family:'Source Sans Pro', sans-serif; font-weight:900; 
	text-transform: uppercase;
}
.playlist { 
	padding:0; 
	margin:20px 20px 40px;
}
.playlist-btn { 
	background:#000; 
	font-family: 'Open Sans', sans-serif;
	text-decoration:none; 
	font-style:normal;
	font-weight: 300;
	text-transform:uppercase; 
	font-size:14px; 
	padding:5px 10px; 
	margin-right:10px;
	border-radius:5px; 
}
.video-list {
	list-style:none;
	margin:0 0 -10px;
	padding:0;
	text-align:center;
	padding-top: 30px;
	padding-bottom: 100px;
	height: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: 250px;
}
.video-list li {
	margin-bottom:10px;
}
.video-list .playlist-btn {
	display:block;
	width:100%;
	padding: 5px;
}

.playlist-btn:hover {
	background-color: #d62e3a;
	color: #fff;
	text-decoration: none;
}
.playlist-btn.homeButton:hover {
	background-color: #111;
}
.dimmed {opacity:.7;}
.footer-text {
	padding:0 20px;
	font-size:.9em;
	font-style:italic;
	opacity:.8;
	text-shadow: 1px 1px 1px rgba(0,0,0,.8);
}

#big-video-control-container {
	z-index: 10000;
	background-color: rgba(0,0,0,0.8);
	padding-top: 5px;
	padding-bottom: 5px;
}

.menuButton {
	position: relative;
	top:20px;
	height: 20px;
	width: 20px;
	background-image: url('img/closed.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 90%;
}

.menuButton.closed {
	background-image: url('img/menu.png');
}

@media screen and (max-width: 1100px) {
	.main {
		top:0;
		left:350px;
	}
	.nav { 
		top:0;
		left:0;
	}
}

@media screen and (max-width: 875px) {
	.main {

	}
	.nav {

	}
	.main.closed {
		top:0;
		left:10%;
		width: 80%;
	}
	.nav.closed { 
		top:0;
		left:-300px;
	}

}

@media screen and (max-width: 500px) {
	.main {
		
	}
	.nav {

	}
	.main.closed {
		left: 0;
		width: 100%;
	}
	.nav.closed {
		
	}
}

